.grid-album-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    .album-card-wrapper {
        cursor: pointer;
        .album-card-item {
            border: 1px solid transparent;
            border-radius: 5px;
            width: 100px;
            height: 100px;
            img {
                width: 100px;
                height: 100px;
                border-radius: 5px;
            }
        }

        span {
            font-size: 12px;
            font-weight: bold;
        }
    }
}