.modal {
    .modal-dialog {
        //modal comment
        &.modal-comment {
            .modal-content {
                padding: 10px;
                .post-wrapper {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    .post-header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 5px;
                        .post-user-avatar {
                            background-color: #ccc;
                            border-radius: 50%;
                            height: 25px;
                            width: 25px;
                            margin-right: 7px;
                        }
                        span {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                    span {
                        font-size: 12px;
                        font-weight: bold;
                        &:last-child {
                            font-weight: normal;
                        }
                    }
                }
                .comment-items {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    .comment-item-header {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 5px;
                        .comment-user-avatar {
                            background-color: #ccc;
                            border-radius: 50%;
                            height: 25px;
                            width: 25px;
                            margin-right: 7px;
                        }
                        span {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                    span {
                        font-size: 12px;
                    }
                    form {
                        .form-control {
                            height: 30px;
                            font-size: 12px;
                            padding: 10px;
                            &:focus {
                                border-color: #ccc;
                                box-shadow: 0 0 0 0.25rem transparent;
                            }
                        }
                    }
                    .edit-delete-wrapper {
                        display: flex;
                        flex-direction: row;

                        span {
                            font-size: 10px;
                            cursor: pointer;
                            color: rgb(124, 124, 124);
                            
                            &:first-child {
                                margin-right: 5px;
                            }
                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }
                }
                .enter-comment-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .comment-user-avatar {
                        background-color: #ccc;
                        border-radius: 50%;
                        height: 25px;
                        width: 25px;
                    }
                    form {
                        width: 90%;
                        margin-left: 7px;
                        .form-control {
                            height: auto;
                            font-size: 12px;
                            padding: 10px;
                            &:focus {
                                border-color: #ccc;
                                box-shadow: 0 0 0 0.25rem transparent;
                            }
                        }
                    }
                }
                .button-wrapper {
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 15px;

                    button {
                        &.btn {
                            padding: 3px 10px;
                            font-size: 12px;
                            font-weight: bold;
                            margin-top: 10px;
                            &.btn-secondary {
                                color: #fff;
                                background-color: #4A4A4A;
                                border-color: #4A4A4A;
                            }
                        }
                    }
                }
            }
        }
        &.modal-photos {
            @import "./AlbumGrid.scss";

            .modal-content {
                padding: 20px;
                height: 80vh;
                overflow-y: scroll;
            }
            .grid-album-wrapper {
                grid-template-columns: repeat(4, auto);
            }
        }
        &.modal-details {
            .modal-content {
                padding: 20px;
                justify-content: center;
                align-items: center;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
}