.homepage-container {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    flex: 1;
    margin-top: 70px;
    &.container {
        .mycircle-wrapper {
            display: flex;
            flex-direction: column;
            flex: 0.3;
            margin-left: 5px;
            padding: 15px 0;
            p {
                font-size: 14px;
                font-weight: bold;
            }
            .user-list-text {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0;
                margin-bottom: 10px;
                cursor: pointer;
                .circle-avatar {
                    background-color: #ccc;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    margin-right: 7px;
                }
                .circle-user-name {
                    display: flex;
                    flex-direction: column;
                    span {
                        font-size: 12px;
                        &:first-child {
                            margin: 3px 0;
                        }
                        &:last-child{
                            font-size: 10px;
                            margin: 0 0 5px 0;
                        }
                    }
                }
            }
        }
        .timeline-wrapper {
            background-color: #FFF;
            flex: 0.9;
            padding: 15px;
            .user-post {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 10px;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-right: 7px;
                }
                form {
                    width: 100%;
                    .form-control {
                        height: auto;
                        font-size: 12px;
                        padding: 10px;
                        &:focus {
                            border-color: #ccc;
                            box-shadow: 0 0 0 0.25rem transparent;
                        }
                    }
                }
            }
            .button-wrapper {
                display: flex;
                justify-content: flex-end;
                margin-right: 15px;

                button {
                    &.btn {
                        padding: 3px 10px;
                        font-size: 12px;
                        font-weight: bold;
                        // margin-top: 5px;
                        &.btn-secondary {
                            color: #fff;
                            background-color: #4A4A4A;
                            border-color: #4A4A4A;
                        }
                    }
                }
            }
            .timeline-posts-wrapper {
                display: flex;
                flex-direction: row;
                // align-items: center;
                padding: 10px;
                .timeline-user-avatar {
                    background-color: #ccc;
                    border-radius: 50%;
                    height: 35px;
                    width: 35px;
                    margin-right: 7px;
                }
                .timeline-post-text {
                    display: flex;
                    flex-direction: column;
                    .username-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        span {
                            margin-right: 3px;
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 12px;
                            &:last-child {
                                font-size: 10px;
                            }
                        }
                    }
                    .post-wrapper {
                        display: flex;
                        flex-direction: column;
                        margin-top: 5px;
                        span {
                            font-size: 12px;
                            &:first-letter {
                                text-transform: capitalize;
                            }
                            &:first-child {
                                margin: 3px 0;
                                font-weight: bold;
                            }
                            &:last-child{
                                font-size: 10px;
                                margin: 0 0 5px 0;
                            }
                        }
                    }
                    .comment-button {
                        font-size: 10px;
                        font-weight: bold;
                        cursor: pointer;
                        color: #4a4a4a;
                    }
                }
            }
        }
        @import "./AlbumGrid.scss";
    }
}